.spacer {
  display: inline-block;
  width: 100%;
}

.form-check {
  .form-check-input {
    margin-top: 0;
  }

  input[type='radio'] {
    &:after {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      color: white;
      position: relative;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $byob-primary;
    }

    &:checked:after {
      width: 13px;
      height: 13px;
      border-radius: 50%;
      color: white;
      position: relative;
      background-color: $byob-primary;
      content: '';
      display: inline-block;
      visibility: visible;
      border: 1px solid $byob-primary;
    }
  }
}
