body {
    font-family: 'Circular Regular', Fallback, sans-serif;
    letter-spacing: 1px;

    #byob-navbar {
        .nav-link {
            font-size: $common-font-size;
            opacity: 0.9;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
.byob-title {
    font-family: 'Circular Black', Fallback, sans-serif;

    small {
        display: block;
        font-size: $small-font-size;
        font-weight: 100;
        color: $default-text-color;
    }
}

.byob- {
    &text-small {
        font-size: $small-font-size;
    }
    &text-secondary {
        color: $secondary-text-color;
    }
}
