.login-container {
    .ant-form-item {
        margin-bottom: 6px;
    }

    .ant-form-item-has-error .ant-form-item-explain {
        font-style: italic;
        color: $byob-accent !important;
        font-size: 12px;
    }

    .ant-form-item-has-error {
        input.ant-input {
            &:hover {
                border: 1px solid $byob-accent !important;
            }
            border: 1px solid $byob-accent !important;
        }
    }

    input.ant-input {
        box-shadow: none !important;
        border: 1px solid $byob-primary;
    }
}
