.account-link-cont {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
  @include for-tablet-portrait-up {
    border-bottom: 0;
  }
  .signout-btn {
    text-transform: inherit !important;
    font-style: italic;
  }
}

.account-cont {
  padding-top: 20px;
  @include for-tablet-portrait-up {
    padding-top: 0;
  }

  .ant-input {
    padding: 14px;
    border: 1px solid $byob-primary;
  }

  .ant-form-item {
    margin-bottom: 6px;
  }

  .submit-btn {
    width: 100%;
    background: $byob-primary;
    border: none;
    font-family: $bold-font;
    text-transform: uppercase;
    padding: 20px;
    height: 60px;
  }
}

.account-title {
  text-transform: uppercase;
  color: $byob-primary;
}
.my-account-cont {
  .account-sub {
    p {
      font-family: $bold-font;
      display: inline-block;
      letter-spacing: 0;
    }
    .account-btn {
      display: block;
      font-family: $primary-font;
      color: $byob-primary;
      font-style: italic;
      padding: 0;
    }
    .edit-btn {
      display: inline-block;
      margin-left: 14px;
    }
  }
  .account-details {
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 10px;
      }
    }
  }

  .name {
    display: inline-block;
    width: calc(50% - 8px);

    &.-last {
      margin: 0 0px 0px 16px;
    }
  }
}

.my-account-container {
  max-width: 800px;
  margin: 0 auto;
  .edit-btn-cont {
    padding-top: 10px;
  }
  .cancel-btn {
    width: 100%;
    text-align: center;
    padding-top: 20px;
  }
}
