#products-page {
    .filter-container {
        position: sticky;
        top: 60px;

        .ant-form-item {
            margin-bottom: 0;

            .ant-checkbox-inner {
                border-radius: 50%;
            }
        }

        .filter-refill-logo {
            height: 40px;
        }
    }
}

input[type='radio'] {
    &:checked:after {
        content: '✓';
    }
}

.product-pagination {
    text-align: center;
    margin-top: 20px;
}
