footer {
  .footer {
    background-color: $white;
    width: 100%;
    color: #027a3a;
    border-top: 1px solid rgba($color: #027a3a, $alpha: 0.2);
    .footer-link {
      opacity: 0.9;
      color: #027a3a;
      display: block;

      &:hover {
        text-decoration: none;
        opacity: 1;
      }
    }
  }
}

.footer-info {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($color: #027a3a, $alpha: 0.2);
  p {
    font-weight: bold;
    margin-top: 20px;
  }
  @include for-tablet-portrait-up {
    border-bottom: 0;
    border-right: 1px solid rgba($color: #027a3a, $alpha: 0.2);
    p {
      font-size: 12px;
      max-width: 600px;
    }
  }
}

.footer-logo {
  max-width: 300px;
}

.footer-nav {
  border-bottom: 1px solid rgba($color: #027a3a, $alpha: 0.2);
  padding: 0px 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  @include for-tablet-portrait-up {
    border-bottom: 0;
  }
}

.footer-social {
  text-align: center;
  a {
    color: #027a3a;
  }
  @include for-tablet-portrait-up {
    text-align: left;
  }
}
// HEADER
.logo {
  position: absolute;
  left: 50%;
  max-width: 80px;
  top: 10px;
  transform: translateX(-50%);
  img {
    width: 100%;
  }
  @include for-tablet-portrait-up {
    max-width: 90px;
    top: 5px;
    left: 20px;
    transform: translateX(0);
  }
}

.nav {
  padding-top: 30px;
  @include for-tablet-portrait-up {
    margin-left: 100px;
    padding-top: 0px;
  }
}

.main-nav {
  width: 100%;
  @include for-tablet-portrait-up {
    width: auto;
  }
}
.login-nav {
  a {
    padding: 0.5rem 0;
  }
  @include for-tablet-portrait-up {
    margin-right: 50px;
  }
}
.cart-nav {
  position: absolute;
  top: 6px;
  right: 20px;
}
